h1 {
    color:blue;
    border: 0.3rem dotted blue
}

h2, h3, h4, h5, h6{
    display: none;
}

body ul li {
    color: brown;
}

p {
    text-decoration: overline #ccc double 0.1rem;
    text-indent: 1.5rem;
}

p.maiusculo {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5rem;
    line-height: 2rem;
    word-spacing: 1.2rem;
    color: white;
    font: italic small-caps bold 2rem monospace;
    text-shadow: 0.2rem 0.2rem 0.3rem black, 0 0 1rem blue, 0 0 2rem darkblue;
}

a:link, a:active {
    text-decoration: none;
    color: gold;
}

a:visited{
    text-decoration: none;
    color: green;
}